* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}

a {
    text-decoration: none;
}

/* Fonts */

@font-face {
    font-family: "adelia";
    src: url(static/fonts/adelia.ttf);
}
@font-face {
    font-family: "Geosans";
    src: url(static/fonts/GeosansLight.ttf);
}
@font-face {
    font-family: "GeosansLight-Oblique";
    src: url(static/fonts/GeosansLight-Oblique.ttf);
}

h1 {
    font-family: "adelia", sans-serif;
    font-size: 3.5em;
    
}
h2 {
    font-family: "Geosans", sans-serif;
    font-size: 1.5em;
}
h3 {
    font-family: "GeosansLight-Oblique", sans-serif;
}
p {
    font-family: "Geosans", sans-serif;
    font-size: 1.1em;
}

/* Title container */

.centered-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Diana's images */

#image-container {
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content:center;
    flex-flow: wrap;
}

#image-box {
    width: 250px;
    height: 400px;
    margin: 20px;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Timeline */

#tribute-info {
    margin: auto;
    width: 600px;
    padding: 40px 70px;
    background-color: none;
}

li {
    display: flex;
    padding: 10px;
    gap: 20px;
}

#date {
    font-weight: bold;
}

#more-info {
    padding-bottom: 50px;
}

/* responsive media quaries*/

@media screen and (max-width:900px) {
    #image-box{
        width: 40%;
    }    
    h1 {
        max-width: 80%;
        font-size: 3em; 
    }
}

@media screen and (max-width:600px) {
    #image-box{
        width: 80%;
    }
    h1 {
        width: 60%;
        font-size: 2.5em; 
    }
    h2 {
        font-size: 1.2em;
    }
    #img-caption, #tribute-info {
        max-width: 500px;
    }    
}
